/* Organisation de la pageaccueil*/

body{
    background-image : url(/images/lagoon-nebula-11143_1280.jpg);
    background-color: #168edc;
  }
h1{
    color : black;
    font-size: 2em;
    text-align: center;
}
  button{
    width: 100 px;
    height: 50 px;
    font-size: 2em;
   
}  
canvas{
    
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    border : 5px white double;
    /*box-shadow: 2px black;*/
    margin : 2px;
    
}
p{
    margin :400px;
    font-size: 1em;

}
img{
  height: 50px;
  width: 100px;
}